// Here you can add other styles
.user-info {
	font-size: larger;
}

.fixed-width {
	padding-right: 25%;
}


.box-width {
 width: 350px
}

.fix-head {
	position: fixed;
	top:0;
}

.fix-body {
	position:sticky;
	top:0;
}

.button-format {
	// word-wrap:break-word;
	max-width: 100%;
	width:100%;
	height:100%;
	// max-height: 100%;
}

.font-style {
	// font-family: 'Lora';
	font-weight: 'bold';
}